.uppy-Dashboard--singleFile .uppy-Dashboard-Item-preview {
    height: 85px !important;
}
.uppy-Dashboard--singleFile .uppy-Dashboard-Item {
    max-width: 250px !important;
}
.uppy-Dashboard--singleFile .uppy-Dashboard-Item-previewIcon {
    height: 60px;
    width: 60px;
}
